<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aemiot.demo.databinding">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SimpleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.IdsActivity"/>
        <activity android:name=".activity.MutilateTypeActivity" />
        <activity android:name=".activity.CustomBindingNameActivity" />
        <activity android:name=".activity.EventBindingActivity" />
        <activity android:name=".activity.ObservableTypeActivity" />
        <activity android:name=".activity.RecyclerViewActivity"></activity>
    </application>

</manifest>
